export SERVICE_CONTEXT_PATH=/vr-media

export SERVICE_HOST_PORT=43614
export SERVICE_CONTAINER_PORT=43614

export VRABIA_NETWORK=auth-service_vrabia-network

export JWT_ISSUER=vr-auth
export JWT_SECRET=dsfjkdsfjksdfjklkpojksdfj4367684734AIDJKF


